SMM_DB_PATH=data/smm.db
SMM_LOG_LEVEL=INFO
SMM_TELEGRAM_BOT_TOKEN=
SMM_TELEGRAM_PUBLISH_CHAT_ID=
SMM_X_API_KEY=
SMM_X_API_SECRET=
SMM_X_ACCESS_TOKEN=
SMM_X_ACCESS_SECRET=
SMM_THREADS_ACCESS_TOKEN=
SMM_INSTAGRAM_ACCESS_TOKEN=
SMM_LLM_API_KEY=
SMM_LLM_PROVIDER=glm-4-flash
SMM_PO_TELEGRAM_USER_ID=
